* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--julee), cursive;
  line-height: 1.6;
  color: #333;
  background-color: #fafafa;
}

main {
  min-height: 100vh;
}
