.tag {
    background: black;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    backdrop-filter: blur(5px);
    transition: all 0.3s ease;
}
.tag:hover {
    background: white;
    color: black;
    transform: translateY(-2px);
}